language: go
services:
  - mysql
  - mongodb

env:
  - MYSQL_TEST="true" MONGO_TEST="true"

go:
  - 1.7.4
  - 1.8rc2

matrix:
  allow_failures:
    - go: 1.8rc2

before_install:
  - go get -v github.com/golang/lint/golint

install:
  - go version

before_script:
  - mysql < db/seed.sql
  - mongo db/seed.js

sudo: false
script:
  - ./run_tests.sh
