language: go
services:
  - mysql

env:
  - MYSQL_TEST="true"

go:
  - 1.11rc1
  - 1.10.3
  - 1.9.7
  - tip

matrix:
  allow_failures:
    - go: tip
    - go: 1.11beta3
  fast_finish: true

before_install:
  - make dep
  - mysql -e 'CREATE DATABASE certs;'

install:
  - go version

sudo: false
script:
  - make test
